@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #e1ecf2;
}

.wrapper {
    margin: 10px;
}

.wrapper .top_navbar {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    top: 10px;
}

.wrapper .top_navbar .hamburger {
    width: 70px;
    height: 100%;
    background: #000302;
    padding: 15px 17px;
    border-top-left-radius: 20px;
    cursor: pointer;
}


.wrapper .top_navbar .hamburger div {
    width: 35px;
    height: 4px;
    background: white;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 70px);
    background: #ffffff;
    height: 100%;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


.wrapper .top_navbar .top_menu .logo {
    color: #000103;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
    cursor: pointer;
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #000000;
    text-align: center;
    border-radius: 50%;
    color: #000000;
}

.wrapper .top_navbar .top_menu ul li a:hover {
    color: white;
    background: #000000;
}

.wrapper .sidebar {
    position: fixed;
    top: 70px;
    left: 10px;
    background: #000000;
    width: 200px;
    height: calc(100% - 80px);
    border-bottom-left-radius: 20px;
    transition: all 0.3s ease;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 20px;
    color: white;
    position: relative;
    margin-bottom: 1px;
    color: #ffffff;
    white-space: nowrap;
}

.wrapper .sidebar ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #ffffff;
    display: none;
}

.wrapper .sidebar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
}

.wrapper .sidebar ul li a span.title {
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    background: #00ffaa;
    color: rgb(0, 0, 0);
}

.wrapper .sidebar ul li a:hover::before .wrapper .sidebar ul li a.active::before {
    display: block;

}

.wrapper .main_container {
    width: calc(100% - 200px);
    margin-top: 70px;
    margin-left: 200px;
    padding: 15px;
    transition: all 0.3s ease;
}

.wrapper .main_container .item {
    background: white;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .sidebar ul li a {
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
    display: none;
}

.wrapper.collapse .main_container {
    width: calc(100% - 70px);
    margin-left: 70px;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.button_cart {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease 0s;
}

.button_cart:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.button_increment {
    padding: 9px 25px;
    background-color: rgba(125, 206, 160, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 26%;
    transition: all 0.3s ease 0s;
}

.button_increment:hover {
    background-color: rgba(125, 206, 160, 0.8);
}

.button_decrement {
    padding: 9px 25px;
    background-color: rgba(231, 76, 60, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 26%;
    transition: all 0.3s ease 0s;
}

.button_decrement:hover {
    background-color: rgba(231, 76, 60, 0.8);
}

.image_center {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_biodata {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

input[type=text] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}